[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
pytest-cov = "*"
pytest-django = "*"
django = "*"
djangorestframework = "*"
indjections = {editable = true, path = "."}
pytest-pythonpath = "*"

[packages]
toml = "*"
colorama = "*"

[requires]
python_version = "3.7"
